%%-*- mode: Erlang; fill-column: 75; comment-column: 50; -*-
[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]},
 {ssim, [
	 {riakc_params,
	  [
	   {db_hostname, "127.0.0.1"},
	   {db_port, 8087},
	   {data_bucket, <<"logs">>},
	   {status_bucket, <<"statuse">>}
	  ]
	 },
	 {mq_connection_params,
	  [
	   {username, <<"guest">>},
	   {password,<<"guest">>},
	   {virtual_host,<<"usim">>},
	   {host, "127.0.0.1" },
	   {channel_max, 0}
	  ]
	 }
	]
 }
 
].

