{sys, [
       {lib_dirs, [ 
	"../..",
	"../deps"
	]},
       {rel, "ssim", "1",
        [
         kernel,
         stdlib,
	 inets,
	 rabbit_common,
	 amqp_client,
	 riakc,
	 public_key,
	 crypto,
	 ssl,
	 ssim,
         sasl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib,
	 inets,
	 ssl
        ]},
       {boot_rel, "ssim"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app,  ssim, [{incl_cond, include}]}
      ]}.

{target_dir, "ssim"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/ssim", "bin/ssim"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
           ]}.
